@media screen and (max-width: 576px) {

    .nav-bar,
    .nav-right,
    .nav-link {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .nav-left {
        margin: 0;
    }

    .hero-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 150px;
    }

    .hero-section-2-left{
        display: flex;
        flex-direction: column;
    }

}