/* global style  */
html {
	font-size:61.9%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}

/* body {
  width: 192rem;
} */

/* body style  */
.body-elements {
  /* width: 100%; */
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.body-section {
  box-sizing: border-box;
  padding-bottom: 12rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

/* nav style  */
.nav-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-bar {
  /* width: 100%;
  height: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-left img{
  width: 60px;
  margin-right: 10px;

}
.nav-left {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.nav-logo {
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.nav-logo-text {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #0b0223;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.nav-logo-text-sub-0 {
  color: #FF42A5;
font-size: 45px;
font-family: Work Sans;
font-weight: 700;
word-wrap: break-word
}

.nav-right {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.nav-link {
  /* margin: 1.7rem 3.2rem 1.7rem 0rem; */
  /* height: calc(100% - 3.4rem); */
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.about-us {
  /* margin-right: 3.2rem; */
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #3c354f;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.developer {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #3c354f;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.follow-us-section img{
  width: 20px;
}

.follow-us-section {
  box-sizing: border-box;
  padding: 1.6rem 2.408rem 1.6rem 2.35rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(11, 2, 35, 0.1000000015);
  border-radius: 0.8rem;
  flex-shrink: 0;
}

.follow-us-dec {
  /* margin-right: 2.35rem; */
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #3c354f;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.follow-us-icons {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.youtube {
  /* margin-right: 1.6rem; */
  /* width: 3.3916rem; */
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.tiktiok {
  /* width: 2.4rem;
  height: 2.4rem; */
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.hero-container {
  display: flex;
  /* margin: 0rem 0rem 12rem 0rem; */
  /* width: calc(100% - 0rem);
  height: 130rem; */
  position: relative;
  flex-shrink: 0;
}

.hero-bg {
  /* width: 90.1rem;
  height: 70rem; */
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}

.hero-left-img-container {
  width: 71.9446rem;
  height: 68.1018rem;
  position: absolute;
  left: 96.9rem;
  top: 1.9rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.hero-left-img-x1 {
  /* margin-right: 0.8446rem; */
  width: 71.1rem;
  height: 44.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

.hero-left-bottom-img-container {
  /* margin-left: 4.4rem; */
  width: calc(100% - 4.4rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}

.hero-left-bottom-img-1 {
  /* margin: 0rem 10.155rem 0.002rem 0rem; */
  width: 21.3rem;
  height: 21.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

.hero-left-bottom-img-2 {
  width: 36.0891rem;
  height: 23.5018rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

.hero-section-2-container {
  width: 36.5rem;
  height: 40.4rem;
  position: absolute;
  left: 24rem;
  top: 14.8rem;
}

.hero-section-2-left {
  /* margin-bottom: 4rem; */
  width: 36.2rem;
}

.hero-section-2-left-content {
  /* margin: 0rem 0.7rem 2.3rem 0rem; */
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero-section-2-left-titel {
  /* margin: 0rem 0rem 0.3rem 0.1rem; */
  text-align: center;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #0b0223;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.hero-section-2-left-dec {
  text-align: center;
  font-size: 9.5rem;
  font-weight: 800;
  line-height: 1.1725;
  text-transform: uppercase;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.hero-section-2-bottom-container {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.hero-section-2-bottom-container-content {
  box-sizing: border-box;
  padding-bottom: 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.hero-section-2-bottom-sec-01 {
  /* margin: 0rem 13.9rem 1.6rem 0rem; */
  box-sizing: border-box;
  padding-left: 0.3rem;
  width: calc(100% - 13.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.hero-section-2-bottom-img-1 {
  /* margin-right: 1.5rem; */
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.click-instant-play-gND {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  text-transform: lowercase;
  color: #534c64;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.hero-section-2-bottom-sec-02 {
  /* margin-right: 19.5rem; */
  box-sizing: border-box;
  padding-left: 0.3rem;
  width: calc(100% - 19.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.hero-section-2-bottom-img-2 {
  /* margin-right: 1.5rem; */
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.no-download-VaZ {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #534c64;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.hero-section-2-bottom-sec-03 {
  box-sizing: border-box;
  padding-left: 0.2249rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.hero-section-2-bottom-img-3 {
  /* margin-right: 1.425rem; */
  width: 1.9501rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.s-of-supported-online-games-e65 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #534c64;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.hero-btns {
  width: 100%;
  height: 6.5rem;
  display: flex;
  align-items: center;
  border-radius: 4.8rem;
}
.sign-in-btn {
  /* margin-right: 2.4rem; */
  width: 15.6rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
  border-radius: 4.8rem;
  flex-shrink: 0;
}

.sign-in-btn:hover{
  border: white 1px solid;
  background-color: #ff42a5;
  cursor: pointer;
}

.go-rogue-btn {
  width: 18.5rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4ec5f7;
  border-radius: 4.8rem;
  flex-shrink: 0;
}

.go-rogue-btn:hover{
  border: white 1px solid;
  background-color: #4ec5f7;
  cursor: pointer;
}

.rectangle-3-rUy {
  width: 192rem;
  height: 60rem;
  position: absolute;
  left: 0;
  top: 70rem;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.0299999993) 13.13%, rgba(255, 66, 165, 0.0299999993) 87.94%);
}

.group-22-in5 {
  box-sizing: border-box;
  padding-left: 0.2rem;
  width: 52rem;
  height: 41.1rem;
  position: absolute;
  left: 116rem;
  top: 79.5rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  border-radius: 4.8rem;
}

.group-22-in5 .group-21-2Gy {
  margin-bottom: 3.2rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.we-game-titel {
  margin-bottom: 2.3rem;
  text-align: right;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1725;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.we-game-dec {
  max-width: 50.9rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #534c64;
  font-family: Work Sans, 'Source Sans Pro';
  flex-shrink: 0;
}

.know-btn {
  margin-bottom: 2.4rem;
  width: 20.8rem;
  height: 6.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
  border-radius: 4.8rem;
  flex-shrink: 0;
}

.know-btn:hover{
  border: white 1px solid;
  background-color: #ff42a5;
  cursor: pointer;
}

.our-purpose-unleash-the-gamer-in-everyone-nYy {
  max-width: 51.8rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.5;
  color: #534c64;
  font-family: Work Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.body-elements .body-section .hero-container .group-22-in5 .our-purpose-unleash-the-gamer-in-everyone-nYy .we-game-containt-1 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.875;
  color: #534c64;
  font-family: Work Sans, 'Source Sans Pro';
}
.body-elements .body-section .hero-container .group-22-in5 .our-purpose-unleash-the-gamer-in-everyone-nYy .we-game-containt-2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.40625;
  color: #534c64;
  font-family: Work Sans, 'Source Sans Pro';
}
.body-elements .body-section .hero-container .pngwing-4-b93 {
  width: 86.8rem;
  height: 48.9rem;
  position: absolute;
  left: 24rem;
  top: 75.5rem;
  object-fit: cover;
  vertical-align: top;
}
.body-elements .body-section .group-23-XHb {
  margin: 0rem 63.3rem 4.8rem 62.9rem;
  width: calc(100% - 126.2rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.body-elements .body-section .group-23-XHb .online-games-funny-videos-Rtm {
  margin-bottom: 1.5rem;
  text-align: right;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.1730000178;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.body-elements .body-section .group-23-XHb .online-games-funny-videos-Rtm .funny-vdo-titel1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #0b0223;
  font-family: Work Sans, 'Source Sans Pro';
}
.body-elements .body-section .group-23-XHb .online-games-funny-videos-Rtm .funny-vdo-titel2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.1725;
  font-family: Work Sans, 'Source Sans Pro';
}
.body-elements .body-section .group-23-XHb .funny-vdo-dec {
  margin-left: 0.2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #534c64;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.body-elements .body-section .auto-group-hrg9-9Lu {
  margin: 0rem 24rem 12rem 24rem;
  width: calc(100% - 48rem);
  height: 48.4rem;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
  flex-shrink: 0;
}
.body-elements .body-section .auto-group-hrg9-9Lu .online-game-sec-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  flex-shrink: 0;
}

.online-game-sec-1:hover{
  background-color: #4c32dd69;
  cursor: pointer;
}
.body-elements .body-section .auto-group-hrg9-9Lu .online-game-sec-1 .rectangle-4-1tu {
  margin-bottom: 2.4rem;
  width: 34.2rem;
  height: 40rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.body-elements .body-section .auto-group-hrg9-9Lu .online-game-sec-1 .no-download-no-installs-play-games-instantly-on-gamer-kbb {
  max-width: 30rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #534c64;
  font-family: Work Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.body-elements .body-section .auto-group-hrg9-9Lu .online-game-sec-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.body-elements .body-section .auto-group-hrg9-9Lu .online-game-sec-1 .rectangle-4-RBw {
  margin-bottom: 2.4rem;
  width: 34.2rem;
  height: 40rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.body-elements .body-section .auto-group-hrg9-9Lu .online-game-sec-1 .did-you-score-unblockedgames-school-ZZ3 {
  max-width: 33.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #534c64;
  font-family: Work Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.body-elements .body-section .auto-group-hrg9-9Lu .online-game-sec-1 {
  width: 34.2rem;
  height: 100%;
  flex-shrink: 0;
}
.body-elements .body-section .auto-group-hrg9-9Lu .online-game-sec-1 .auto-group-5j2m-2Sd {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 15.6rem 11.4rem 15.6rem 11.5rem;
  width: 100%;
  height: 40rem;
  background-color: rgba(0, 0, 0, 0.6000000238);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-4-bg.png');
  border-radius: 1.6rem;
}
 .watch-now {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.body-elements .body-section .auto-group-hrg9-9Lu .online-game-sec-1 .auto-group-5j2m-2Sd .watch-now .group-28-v2D {
  margin: 0rem 0rem 1.6rem 0.1rem;
  width: 4.8rem;
  height: 4.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.body-elements .body-section .auto-group-hrg9-9Lu .online-game-sec-1 .auto-group-5j2m-2Sd .watch-now .watch-now-T29 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.body-elements .body-section .auto-group-hrg9-9Lu .online-game-sec-1 .breaking-game-records-like-og-Xnh {
  max-width: 22.5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #534c64;
  font-family: Work Sans, 'Source Sans Pro';
}
.body-elements .body-section .auto-group-hrg9-9Lu .online-game-sec-1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.body-elements .body-section .auto-group-hrg9-9Lu .online-game-sec-1 .rectangle-4-pmo {
  margin-bottom: 2.4rem;
  width: 34.2rem;
  height: 40rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.body-elements .body-section .auto-group-hrg9-9Lu .online-game-sec-1 .busted-gaming-on-school-laptop-but-you-are-still-lit-NHX {
  max-width: 32.2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #534c64;
  font-family: Work Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.body-elements .body-section .group-62-VN9 {
  margin: 0rem 24rem 12rem 42.7rem;
  box-sizing: border-box;
  padding-left: 0.4rem;
  width: calc(100% - 66.7rem);
  height: 72.5833rem;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.body-elements .body-section .group-62-VN9 .group-30-C1f {
  margin: 21.6rem 12rem 21.583rem 0rem;
  height: calc(100% - 43.1833rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.body-elements .body-section .group-62-VN9 .group-30-C1f .play-instantly-no-downloads-no-installs-L7s {
  margin-bottom: 2.4rem;
  max-width: 33.9rem;
  text-align: right;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.25;
  font-family: Work Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.body-elements .body-section .group-62-VN9 .group-30-C1f .play-instantly-no-downloads-no-installs-L7s .play-instantly-no-downloads-no-installs-L7s-sub-0 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.25;
  font-family: Work Sans, 'Source Sans Pro';
}
.body-elements .body-section .group-62-VN9 .group-30-C1f .play-instantly-no-downloads-no-installs-L7s .play-instantly-no-downloads-no-installs-L7s-sub-1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.25;
  color: #0b0223;
  font-family: Work Sans, 'Source Sans Pro';
}
.body-elements .body-section .group-62-VN9 .group-30-C1f .play-online-q {
  max-width: 34.9rem;
  text-align: right;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #534c64;
  font-family: Work Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.body-elements .body-section .group-62-VN9 .group-59-68y {
  width: 78rem;
  height: 100%;
  position: relative;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.body-elements .body-section .group-62-VN9 .group-59-68y .rectangle-5-22d {
  width: 63.4833rem;
  height: 65rem;
  position: relative;
  left: 14.5167rem;
  top: 0;
  background-size: 102.389% 100%;
  background-position: -0.7583rem 0;
  background-image: url('../assets/rectangle-5.png');
  border-radius: 0.8rem;
}
.body-elements .body-section .group-62-VN9 .group-59-68y .rectangle-6-f5b {
  width: 31.85rem;
  height: 36.5083rem;
  position: relative;
  left: 0;
  top: 36.075rem;
  background-size: 100% 117.229%;
  background-position: 0 -0.0304rem;
  background-image: url('../assets/rectangle-6.png');
  border-radius: 0.8rem;
}
.body-elements .body-section .group-61-7TP {
  margin: 0rem 24rem 0rem 23.8rem;
  box-sizing: border-box;
  padding-right: 1.2rem;
  width: calc(100% - 47.8rem);
  height: 77.3rem;
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.body-elements .body-section .group-61-7TP .group-60-SEm {
  margin-right: 11.3rem;
  width: 84.6rem;
  height: 100%;
  position: relative;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.body-elements .body-section .group-61-7TP .group-60-SEm .rectangle-6-AwT {
  width: 71rem;
  height: 65rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 146.779%;
  background-position: 0rem -1.8568rem;
  background-image: url('../assets/rectangle-6-KQ5.png');
  border-radius: 0.8rem;
}
.body-elements .body-section .group-61-7TP .group-60-SEm .rectangle-7-tMf {
  width: 31.8rem;
  height: 36.5rem;
  position: relative;
  left: 52.8rem;
  top: 40.8rem;
  background-size: 114.78% 100%;
  background-position: -0.7209rem 0;
  background-image: url('../assets/rectangle-7.png');
  border-radius: 0.8rem;
}
.body-elements .body-section .group-61-7TP .group-31-ytu {
  margin: 24rem 0rem 23.9rem 0rem;
  height: calc(100% - 47.9rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.body-elements .body-section .group-61-7TP .group-31-ytu .play-games-online-anywhere-anytime-WP3 {
  margin: 0rem 0rem 2.4rem 0rem;
  max-width: 42.5rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.25;
  font-family: Work Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.body-elements .body-section .group-61-7TP .group-31-ytu .play-games-online-anywhere-anytime-WP3 .play-games-online-anywhere-anytime-WP3-sub-1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.25;
  color: #0b0223;
  font-family: Work Sans, 'Source Sans Pro';
}
.body-elements .body-section .group-61-7TP .group-31-ytu .play-online-qe {
  max-width: 47.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #534c64;
  font-family: Work Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.body-elements .auto-group-3snm-Uch {
  width: 100%;
  height: 82.1rem;
  position: relative;
  flex-shrink: 0;
}
.body-elements .auto-group-3snm-Uch .rectangle-7-qCM {
  width: 192rem;
  height: 82.1rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
}
.body-elements .auto-group-3snm-Uch .group-33-wmB {
  width: 68rem;
  height: 58.1rem;
  position: absolute;
  left: 24rem;
  top: 12rem;
  border-radius: 4.8rem;
}
.body-elements .auto-group-3snm-Uch .group-33-wmB .group-32-VGu {
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
}
.body-elements .auto-group-3snm-Uch .group-33-wmB .group-32-VGu .careers-d8D {
  margin-bottom: 2.4rem;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.25;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.body-elements .auto-group-3snm-Uch .group-33-wmB .group-32-VGu .careers-dec {
  max-width: 66.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.body-elements .auto-group-3snm-Uch .group-33-wmB .auto-group-slnm-nvD {
  margin-bottom: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.body-elements .auto-group-3snm-Uch .group-33-wmB .auto-group-slnm-nvD .careers-items-left {
  margin-right: 10.8rem;
  max-width: 32.6rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.body-elements .auto-group-3snm-Uch .group-33-wmB .auto-group-slnm-nvD .careers-items-right {
  max-width: 24.6rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
 .see-all-btn {
  width: 27.5rem;
  height: 6.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 4.8rem;
}

.see-all-btn:hover{
  border: #b468d8 1px solid;
  background-color: white;
  color: #ff42a5;
  cursor: pointer;
}
.body-elements .auto-group-3snm-Uch .group-65-Zi1 {
  width: 101.3rem;
  height: 82.1rem;
  position: absolute;
  left: 90.7rem;
  top: 0;
}
.body-elements .auto-group-3snm-Uch .group-65-Zi1 .pngwing-5-rx1 {
  width: 66.5rem;
  height: 51.6rem;
  position: absolute;
  left: 10.8rem;
  top: 15.3rem;
  object-fit: cover;
  vertical-align: top;
}
.body-elements .auto-group-3snm-Uch .group-65-Zi1 .vector-2-Ypq {
  width: 101.3rem;
  height: 82.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.body-elements .auto-group-nxu5-J3K {
  box-sizing: border-box;
  padding-bottom: 0.0167rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section {
  margin-right: 0rem;
  box-sizing: border-box;
  padding: 12rem 28.2rem 11.883rem 23.9rem;
  width: calc(100% - 0rem);
  height: 42.7rem;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.0299999993) 13.13%, rgba(255, 66, 165, 0.0299999993) 87.94%);
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5rem;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .group-44-Xgm {
  width: 131.3rem;
  height: 18.7rem;
  position: absolute;
  left: 8.6rem;
  top: 0.0167rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  border-radius: 5rem;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .group-44-Xgm .auto-group-ruzs-dE1 {
  margin: 0rem 0rem 2.583rem 77.4rem;
  width: calc(100% - 77.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .group-44-Xgm .auto-group-ruzs-dE1 .group-40-9CM {
  margin: 0rem 1.3rem 0.1rem 0rem;
  width: 29.5rem;
  height: 8rem;
  border-radius: 5rem;
  flex-shrink: 0;
}
.game-group-1 {
  box-sizing: border-box;
  padding: 1rem 1.9rem 1rem 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5rem;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .group-44-Xgm .auto-group-ruzs-dE1 .group-40-9CM .game-group-1 .rectangle-11-DCD {
  margin-right: 1.6rem;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .group-44-Xgm .auto-group-ruzs-dE1 .group-40-9CM .game-group-1 .educational-games-VQd {
  margin-top: 0.2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #0b0223;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .group-44-Xgm .auto-group-ruzs-dE1 .group-41-nPj {
  margin-top: 0.1rem;
  width: 23.1rem;
  height: 8rem;
  border-radius: 5rem;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .group-44-Xgm .auto-group-ruzs-dE1 .group-41-nPj .game-group-1 {
  box-sizing: border-box;
  padding: 1rem 2rem 1rem 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5rem;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .group-44-Xgm .auto-group-ruzs-dE1 .group-41-nPj .game-group-1 .rectangle-11-FYD {
  margin-right: 1.6rem;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .group-44-Xgm .auto-group-ruzs-dE1 .group-41-nPj .game-group-1 .word-games-b6H {
  margin-top: 0.2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #0b0223;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .group-44-Xgm .auto-group-foff-VxM {
  margin-right: 9.5rem;
  width: calc(100% - 9.5rem);
  height: 8.0167rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .group-44-Xgm .auto-group-foff-VxM .group-42-Euw {
  margin: 0.017rem 65.7rem 0rem 0rem;
  width: 29.9rem;
  height: calc(100% - 0.0167rem);
  border-radius: 5rem;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .group-44-Xgm .auto-group-foff-VxM .group-42-Euw .group-34-B4V {
  box-sizing: border-box;
  padding: 1rem 2rem 1rem 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5rem;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .group-44-Xgm .auto-group-foff-VxM .group-42-Euw .group-34-B4V .rectangle-11-WsT {
  margin-right: 1.6rem;
  width: 6rem;
  height: 6rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-11-Amf.png');
  border-radius: 5rem;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .group-44-Xgm .auto-group-foff-VxM .group-42-Euw .group-34-B4V .role-palying-games-DWy {
  margin-top: 0.2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #0b0223;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .group-44-Xgm .auto-group-foff-VxM .group-43-6Ks {
  margin-bottom: 0.0167rem;
  width: 26.2rem;
  height: calc(100% - 0.0167rem);
  border-radius: 5rem;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .group-44-Xgm .auto-group-foff-VxM .group-43-6Ks .game-group-1 {
  box-sizing: border-box;
  padding: 1rem 1.9rem 1rem 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5rem;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .group-44-Xgm .auto-group-foff-VxM .group-43-6Ks .game-group-1 .rectangle-11-CNu {
  margin-right: 1.6rem;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .group-44-Xgm .auto-group-foff-VxM .group-43-6Ks .game-group-1 .strategy-games-is3 {
  margin-top: 0.2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #0b0223;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container {
  width: 100.8rem;
  height: 18.8167rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  border-radius: 5rem;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-owtb-LdX {
  margin: 0rem 18.2rem 2.717rem 0rem;
  height: 8rem;
  display: flex;
  column-gap: 2.7rem;
  align-items: center;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-owtb-LdX .group-35-SRf {
  width: 24.3rem;
  height: 100%;
  border-radius: 5rem;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-owtb-LdX .group-35-SRf .game-group-1 {
  box-sizing: border-box;
  padding: 1rem 2rem 1rem 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5rem;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-owtb-LdX .group-35-SRf .game-group-1 .rectangle-11-MHj {
  margin-right: 1.6rem;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-owtb-LdX .group-35-SRf .game-group-1 .action-games-JCy {
  margin-top: 0.2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #0b0223;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-owtb-LdX .group-36-RHb {
  width: 28.1rem;
  height: 100%;
  border-radius: 5rem;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-owtb-LdX .group-36-RHb .game-group-1 {
  box-sizing: border-box;
  padding: 1rem 2rem 1rem 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5rem;
}
.rectangle-11-6uX {
  margin-right: 1.6rem;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-owtb-LdX .group-36-RHb .game-group-1 .adventure-games-dPf {
  margin-top: 0.2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #0b0223;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-owtb-LdX .group-37-uMB {
  width: 24.8rem;
  height: 100%;
  border-radius: 5rem;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-owtb-LdX .group-37-uMB .game-group-1 {
  box-sizing: border-box;
  padding: 1rem 2rem 1rem 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5rem;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-owtb-LdX .group-37-uMB .game-group-1 .rectangle-11-d2H {
  margin-right: 1.6rem;
  width: 6rem;
  height: 6rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-11-5JH.png');
  border-radius: 5rem;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-owtb-LdX .group-37-uMB .game-group-1 .arcade-games-ipR {
  margin-top: 0.2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-wand-cQ1 {
  margin-left: 41.8rem;
  width: calc(100% - 41.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-wand-cQ1 .group-38-m21 {
  margin: 0.1rem 2.9rem 0rem 0rem;
  width: 31.7rem;
  height: 8rem;
  border-radius: 5rem;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-wand-cQ1 .group-38-m21 .game-group-1 {
  box-sizing: border-box;
  padding: 1rem 1.9rem 1rem 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5rem;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-wand-cQ1 .group-38-m21 .game-group-1 .rectangle-11-T9j {
  margin-right: 1.6rem;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 5rem;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-wand-cQ1 .group-38-m21 .game-group-1 .music-audio-games-Q4y {
  margin-top: 0.2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #0b0223;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-wand-cQ1 .group-39-HPf {
  margin-bottom: 0.1rem;
  width: 24.4rem;
  height: 8rem;
  border-radius: 5rem;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-wand-cQ1 .group-39-HPf .game-group-1 {
  box-sizing: border-box;
  padding: 1rem 2rem 1rem 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5rem;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-wand-cQ1 .group-39-HPf .game-group-1 .rectangle-11-mZj {
  margin-right: 1.6rem;
  width: 6rem;
  height: 6rem;
  position: relative;
  background-size: 100% 134.375%;
  background-position: 0 -1.9289rem;
  background-image: url('../assets/rectangle-11-Xrh.png');
  border-radius: 5rem;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .game-group-section .group-46-mBo .game-group-container .auto-group-wand-cQ1 .group-39-HPf .game-group-1 .puzzle-games-UU9 {
  margin-top: 0.2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #0b0223;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .footer-container {
  margin-right: 0rem;
  box-sizing: border-box;
  padding: 12rem 56.25rem 13rem 56.25rem;
  width: calc(100% - 0rem);
  height: 63.6rem;
  background-color: #0b0223;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .footer-container .group-55-SJV {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.body-elements .auto-group-nxu5-J3K .footer-container .group-55-SJV .group-2-o93 {
  margin: 0rem 27.146rem 6.6rem 27.05rem;
  width: calc(100% - 54.1959rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .footer-container .group-55-SJV .group-2-o93 .group-1-Y6d {
  margin: 0rem 2rem 0.1rem 0rem;
  width: 8.6041rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .footer-container .group-55-SJV .group-2-o93 .gamer-csB {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .footer-container .group-55-SJV .group-2-o93 .gamer-csB .gamer-csB-sub-0 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
}

.frame-4-RCM {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 .our-story-mX7 {
  margin-right: 5.95rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.games-6ZP {
  margin-right: 6rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.web-games-SdF {
  margin-right: 6rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.careers-y7P {
  margin-right: 5.95rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.support-iz5 {
  margin-right: 5.9rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.my-account-s6H {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.auto-group-toyk-cJm {
  box-sizing: border-box;
  padding: 6.5rem 5.3rem 0rem 5.35rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.group-53-Yy7 {
  margin: 0rem 11.637rem 7.4rem 11.5rem;
  width: calc(100% - 23.137rem);
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.group-47-4Rf {
  margin-right: 4rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.group-48-C25 {
  margin-right: 4rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.game-group-1:hover {
  background-color: #ff42a5;
  border-radius: 5rem;
  cursor: pointer;
}

.group-49-KMb {
  margin-right: 4rem;
  box-sizing: border-box;
  padding: 1.144rem 1.939rem 1.144rem 2.287rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-tsB.png');
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .footer-container .group-55-SJV .auto-group-toyk-cJm .group-53-Yy7 .group-49-KMb .vector-SSD {
  width: 1.487rem;
  height: 1.7129rem;
  object-fit: contain;
  vertical-align: top;
}
.body-elements .auto-group-nxu5-J3K .footer-container .group-55-SJV .auto-group-toyk-cJm .group-53-Yy7 .group-50-Nqf {
  margin-right: 4rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .footer-container .group-55-SJV .auto-group-toyk-cJm .group-53-Yy7 .group-51-Wgy {
  margin-right: 4rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .footer-container .group-55-SJV .auto-group-toyk-cJm .group-53-Yy7 .group-52-3B7 {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .footer-container .group-55-SJV .auto-group-toyk-cJm .group-54-oAH {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .footer-container .group-55-SJV .auto-group-toyk-cJm .group-54-oAH .frame-5-AWd {
  margin-bottom: 2.8rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .footer-container .group-55-SJV .auto-group-toyk-cJm .group-54-oAH .frame-5-AWd .terms-and-conditions-7wf {
  margin-right: 6rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .footer-container .group-55-SJV .auto-group-toyk-cJm .group-54-oAH .frame-5-AWd .privacy-policy-EFb {
  margin-right: 6rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .footer-container .group-55-SJV .auto-group-toyk-cJm .group-54-oAH .frame-5-AWd .cookie-policy-N6u {
  margin-right: 5.95rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .footer-container .group-55-SJV .auto-group-toyk-cJm .group-54-oAH .frame-5-AWd .privacy-settings-hey {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.body-elements .auto-group-nxu5-J3K .footer-container .group-55-SJV .auto-group-toyk-cJm .group-54-oAH .copyrights {
  margin-right: 0.15rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.1725;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Work Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
