@media screen and (max-width:576px){

    nav,.nav-items,.online-games{
        display: flex;
        flex-direction: column;
    } 
    
    .top-banner,.download-container{
        display: flex;
        flex-direction: column;
        background-image: none;
    }
    .banner-text{
        background-image: url("./assets/Group\ 14.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    .banner-img img{
        width: 100%;
    }
    .online-card{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
    .download-img1{
        width: 250px;
    }
    .download-img2{
        width: 100px;
    }
    .category-button{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 0px;
    }
    .category-button img{
        width: 30px;
    }
    .category-btn{
        width: 100%;
        height: 50px;
        margin: auto;
        font-size: 12px;
        gap: 10px;
    }

    .footer-menu{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 0px;
    }

    #footer-dec{
        font-size: 14px;
    }

    .footer-icons{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 0px;
        align-items: center;
    }

    .footer-description{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0px;
    }
}